<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>



    <link rel="stylesheet" href="~/them/css/bootstrap_ar.min.css">
    <link rel="stylesheet" href="~/them/css/kfu_ar.css">
    <link rel="stylesheet" href="~/them/css/site_ar.css">
    <link rel="stylesheet" href="~/them/css/media_ar.css">

    <!-- Favico -->
    
    <!-- Core Css Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/assets/css/identity.css" />

    <link rel="stylesheet" href="~/assets/css/jquery.paginate.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Custom css File  -->
    <link rel="stylesheet" href="~/assets/css/app.css" />

    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />

    @* Fonts fomt awsome  *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div id="page-container" class="sidebar-l sidebar-o side-scroll header-navbar-fixed">

        <!-- Side Actions -->
        <aside class="side-actions hidden-xs hidden-sm">
            <a href="#!" class="log-lang">Ar</a>
            <ul class="nav">
                <li class="custom-tooltip" data-toggle="tooltip" data-placement="right" title="الموقع الرئيسي">
                    <a target="_blank" href="https://www.kfu.edu.sa/sites/Home/"><i class="si si-home"></i></a>
                </li>
                <li class="custom-tooltip" data-toggle="tooltip" data-placement="right" title="البريد الإلكتروني">
                    <a target="_blank" href="https://mail.kfu.edu.sa"><i class="si si-envelope"></i></a>
                </li>
                <li class="custom-tooltip" data-toggle="tooltip" data-placement="right" title="الإدارة العليا">
                    <a target="_blank"
                       href="https://www.kfu.edu.sa/ar/Departments/SeniorManagement/Pages/welcome_new.aspx">
                        <i class="si si-users"></i>
                    </a>
                </li>
                <li class="custom-tooltip" data-toggle="tooltip" data-placement="right" title="سياسة الخصوصية">
                    <a target="_blank" href="https://www.kfu.edu.sa/ar/Deans/it/Pages/Privacy_policy.aspx">
                        <i class="si si-shield"></i>
                    </a>
                </li>
            </ul>
        </aside>





        <!-- Header -->
        <header id="header-navbar" class="content-mini content-mini-full">
            <div class="row">
                <div class="col-md-9">
                    @* <a href="https://www.kfu.edu.sa/"><img src="@Url.Content("~/images/logo.png")" border="0" alt="" style="width: 165px"></a> *@
                </div>

                <div class="col-md-3" style="align-items:start">

                    <div class="col-xs-6 col-sm-6 text-center" style="margin-top:10px">
                        <a href="@Url.Action("Index","Home")" class="block r-shape">
                            <div class="block-content block-content-full" style="padding:0px">
                                <div class="font-w700 h5 push-5-t">
                                    الصفحة الرئيسية
                                </div>
                            </div>
                        </a>
                    </div>
                   
                    <div class="col-xs-6 col-sm-6 text-center" style="margin-top:10px">
                        <a href="#!" class="block r-shape">
                            <div class="block-content block-content-full" style="padding:0px">
                                <div class="font-w700 h5 push-5-t">
                                    تسجيل الخروج
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </header>
        <!-- Main Container -->
        <main id="main-container" class="slim-scroll smooth">

            <aside class="myside-actions hidden-xs hidden-sm">
                <ul class="nav">
                    <div class="dropdown" style="margin-top:5px">
                        <a asp-action="Index" asp-controller="Home"><button class="dropbtn">الرئيسية</button></a>
                    </div>
                    
                    <div class="dropdown">
                        <button class="dropbtn">المشاريع</button>
                        <div class="dropdown-content">
                            <a asp-action="Index" asp-controller="Home" class="first-item">المشاريع</a>
                            <hr style="margin:0" />
                            <a asp-action="Create" asp-controller="Home" class="last-item">اضافة مشروع</a>
                        </div>
                    </div>

                  
                </ul>
            </aside>

            @* <div class="row" > *@
                <div class="container" style="justify-content:center;display:flex;">
                   <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            @* </div> *@

        </main>
        <!-- footer -->
       
    </div>


    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>


    <script src="~/lib/sweetalert2/sweetalert2.min.js" asp-append-version="true"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @* <script src="//cdn.datatables.net/2.0.3/js/dataTables.min.js" asp-append-version="true"></script> *@


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
