@model Core.Entities.User
@using Core.Enums

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var selectList = Enum.GetValues(typeof(Roles))
                        .Cast<Roles>()
                        .Where(e => e != Roles.Super_Admin)
                        .Select(e => new SelectListItem
                                {
                                    Value = ((int)e).ToString(),
                                    Text = e.ToString()
                        });
}

    <div class="block" >
        <div class="col-md-10">

        <div class="card">
            <div class="card-header">
                إضافة مستخدم
            </div>
            <div class="card-body">

                @using (Html.BeginForm("Create", "Users", FormMethod.Post))
                {
                    <div class="card-body">
                        @Html.LabelFor(m => m.UserName, null, new { @class = "label-control" })
                        @Html.TextBoxFor(m => m.UserName, null, new { @class = "form-control", autocomplete = "off", onkeypress = "return /[0-9a-zA-Z-ا-ي- -]/i.test(event.key)" })
                        <span asp-validation-for="UserName" class="text-danger"></span>

                        <br />
                        @Html.DropDownListFor(m => m.Role, selectList,new{@class="from-select form-control"})
                       @*  <select asp-for="Role" asp-items="@Html.GetEnumSelectList<Roles>()" class="form-select form-control">
                        </select> *@
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                    



                    <br />

                    <div class="card-footer">
                        <input type="submit" value="حفظ البيانات" class="btn btn-primary" />
                    </div>
                }
            </div>

        </div>
        </div>
    </div>




@section scripts{
    <partial name="_NotificationPartial" />
    <partial name="_ValidationScriptsPartial" />

}